
.popup_content{
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.popup_reg div, .popup_submit div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
.line_bottom{
    border-bottom: 1px solid #C4C4C4;
width: 100%;
height: 1px;
background-color: #C4C4C4;;
}
.popup_reg p, .popup_submit p{
    padding: 0 35px 0 35px;
    font-family: extraBold;
font-size: 14px;color: #848484;
}

.popup_reg p:hover, .popup_submit p:hover{
    color: #D86D00;
}
.popup_content_input{
    width: 80%;
    height: 87px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;

}
.popup_content_input input{
    padding-left: 15px;
    height: 37px;
    margin: 10px;
    width: calc(95%);
    background: #E4E2E2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 1px solid #E4E2E2 ;
  
}
.popup_content_submit button{
    font-family: Nunito;
font-style: normal;
font-weight: bold;
    text-align: center;
    width: 249px;
left: 885px;
height: 36px;
background: #D86D00;
border-radius: 4px;
}
#close_func{
    position: absolute;
    right: 20px;
    top: 15px;
    color: #000;
    font-size: 18px;
}
.cont{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.change_type{
    display: flex;
    align-items: center;
    justify-content:center;
}
.dev{
    height: 1px;
    width: 100%;
    background: #c3c3c3;
    /* background: #D86D00; */
}
.change_type_reg p, .change_type_log p{
    padding: 0 20px 0 20px;
}
.change_type_reg p:hover, .change_type_log p:hover{
    color:#D86D00 ;
}